div.subitem a.list-group-item {
    padding-left: 30px;
}


@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;

$color-alpha: #1772FF;
$color-form-highlight: #EEEEEE;

*, *:before, *:after {
	box-sizing:border-box;
}

.metadata {
   font-size: 12px;
}

body {
	padding:24px;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
	background :#faebd7;
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}


.top-corner{
   position:absolute;
   top:0;
   right:0;
  }

.table-row {
    overflow:visible;
    overflow-x:auto;
    overflow-y:visible;
    display:block;
	width:100%;
	padding:0px 0px;
}


.table-row th {
background-color: #EEEEEE;
}
.table-row th, td {
  padding: 5px;
  text-align: left;
}
.table-row tr {
  border-bottom: 1px solid #ddd;
}

.highlight_row{
    font-weight: bold;
}

tr:hover {background-color: #EEEEEE;}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}
/* Tooltip container */
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.tooltip-wrapper {
  position: absolute;
  visibility: hidden;
}