div.subitem a.list-group-item {
    padding-left: 30px;
}

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
@import "colors.css";

$base-spacing-unit: 24px;
$half-spacing-unit: $base-spacing-unit / 2;


$color-alpha: #EAB464;
$color-form-highlight:  var(--heading1);


*, *:before, *:after {
	box-sizing:border-box;
}

.metadata {
   font-size: 10px;
}

body {
	padding:24px;
	font-family:'Source Sans Pro', sans-serif;
	margin:0;
	/*background: var(--background);*/
	background: rgb(8,5,60);
    background: linear-gradient(90deg, var(--background) 0%, rgba(42,42,102,1) 50%, var(--background) 100%);
}

h1,h2,h3,h4,h5,h6 {
	margin:0;
}

.form-number {
width: 40pt;
}


.top-corner{
   position:absolute;
   top:0;
   right:0;
  }

.table-row {
    overflow:visible;
    overflow-x:auto;
    overflow-y:visible;
	padding:0px 0px;
	border: 1px solid  var(--heading1);
	border-bottom:0 ;
}

.table-row th {
background-color:  var(--heading2);
}
.table-row th, td {
padding: 4px
}
.table-row tr {
  border-bottom: 1px solid  var(--heading1);
}

.highlight_row{
    font-weight: bold;
}

.table-row tr:hover {background-color:  var(--heading2);}

.table-data, .header__item {
	flex: 1 1 20%;
	text-align:center;
}

.large-item {
    font-size:18px;
}

.header__item {
	text-transform:uppercase;
}

.filter__link {
	color:white;
	text-decoration: none;
	position:relative;
	display:inline-block;
	padding-left:$base-spacing-unit;
	padding-right:$base-spacing-unit;

	&::after {
		content:'';
		position:absolute;
		right:-($half-spacing-unit * 1.5);
		color:white;
		font-size:$half-spacing-unit;
		top: 50%;
		transform: translateY(-50%);
	}

	&.desc::after {
		content: '(desc)';
	}

	&.asc::after {
		content: '(asc)';
	}

}
/* Tooltip container */
.tooltip2 {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip2 .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip2 .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip2:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.tooltip-wrapper {
  position: absolute;
  visibility: hidden;
}

.data-toggle {
    background-color: var(--main) !important;
}

.panel-body{
    background-color: var(--main) !important;
    overflow-x:auto;
}

.panel-heading{
    background-color:  var(--heading1) !important;
    border-bottom: 1px solid var(--heading1) !important;
}

.panel-footer{
    background-color:  var(--main) !important;
    border-top: 1px solid var(--main) !important;
}

.navbar{
    background-color:  var(--heading1) !important;
    border-color:  var(--heading1)  !important;
}

.navbar-brand{
color: #FFFFFF !important;
}

.dropdown-toggle{
color: #FFFFFF !important;
}

.collapse.in {background: var(--main)  !important;}
.list-group {background-color: var(--main)  !important;}
.list-group-item {background-color: var(--main)  !important;}
.nav-tabs>li.active>a{background:  var(--main-light)  !important;}

.panel-primary{border: 1px solid  var(--heading1);}

input[type="text"] {  background-color :  var(--inputs) !important;}
input[type="submit"], button {  background-color :  var(--inputs) !important;
                           color: var(--heading1) !important;
                           border: 1px solid var(--heading1) !important;
                           border-radius: 4px !important;}
input[type="password"] {  background-color :  var(--inputs) !important;}
input[type="number"] {  background-color :  var(--inputs) !important;}
input[type="radio"] {  background-color :  var(--inputs) !important;
                    accent-color:var(--heading1) !important;}
select  {  background-color :  var(--inputs) !important;}
select option  {  background-color :  var(--inputs) !important;}
a {color: var(--heading1);}
.help-block { color: #555555; }
.text-muted { color: #555555; }