:root {
/*
--background: #606C38;
--heading1: #283618;
--heading2: #BC6C25;
--main: #DDA15E;
--main-light: #DFA35F;
--inputs: #FEFAE0;
*/


--inputs: #F6F0ED;
--background: #05233e;
--heading1: #28536B;
--heading2: #5E889E;
--main: #7EA8BE;
--main-light: #80AAC0;

}