
{% load crispy_forms_tags %}

{% block standings %}
<div class="panel-body">


    <table align="left" class="table-row">
        <tr>
            <th>Rank</th>
            <th>Team</th>
            <th>User</th>
            <th>Points</th>
            <th>Players</th>
        </tr>
    {% for mgr in all_managers %}
         {% if mgr.id == manager.id %}
        <tr class="highlight_row" >
          {% else %}
        <tr>
          {%  endif %}
          <td> {{ forloop.counter }}. </td>
         <td>
            {{ mgr.name }}
        </td>
          <td>
           {{ mgr.user.username }}
        </td>
        <td>
            {{ mgr.points|floatformat }}
        </td>
          <td>
              {% for player in teams|get_item:mgr.id %}
                  {% if forloop.last %}
                        {{ player.linked_name }}
                  {% else %}
                        {{ player.linked_name }},
                  {% endif %}
              {% endfor %}
          </td>
       </tr>
       {% endfor %}
    </table>

</div>

{% endblock standings %}
