{% extends "fantasy_sports/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">My Tennis Leagues</h3>
    </div>
    <div class="panel-body">
        {% if not in_a_league %}
        <h4>No leagues found for this account. Why not create one <a href="{% url 'tennis:create_league' %}">here?</a></h4>
        {% else %}

        <h4>Leagues that I administrate:</h4>
        <ul>
            {% for admin_league in admin_leagues %}
            <li><a href="{% url 'tennis:display_league' admin_league.id %}">{{ admin_league }}</a></li>
            {% empty %}
            <li>(None)</li> 
            {% endfor %}
        </ul>

        <h4>Leagues where I'm a member:</h4>
        <ul>
            {% for league in non_admin_leagues %}
            <li>{{ league }}</li>
            {% empty %}
            <li>(None)</li> 
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class="panel-footer">
        {% comment %}
        <p class="text-center">
            <a class="text-muted" href="{% url 'registration:create' %}">Create Account</a> |
            <a class="text-muted" href="{% url 'registration:login' %}">Login</a> |
            <a class="text-muted" href="{% url 'registration:password_reset' %}">Reset Password</a>
        </p>
        {% endcomment %}
    </div>
</div>
{% endblock content %}
