<div class="panel panel-primary">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a href="#tennis_links" data-toggle="collapse" data-parent="#accordion">
                Tennis
            </a>
        </h4>
    </div>
    <div id="tennis_links" class="panel-collapse collapse in">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="{% url 'tennis:home' %}" class="list-group-item">
                    <i class="fa fa-home fa-fw"></i> Home
                </a>
                <a href="{% url 'tennis:my_leagues' %}" class="list-group-item">
                    <i class="fa fa-star fa-fw"></i> My leagues
                </a>
                <a href="{% url 'tennis:create_league' %}" class="list-group-item">
                    <i class="fa fa-plus fa-fw"></i> Create a league
                </a>
                <a href="{% url 'tennis:find_league' %}" class="list-group-item">
                    <i class="fa fa-search fa-fw"></i> Find a league
                </a>
                <a href="#" class="list-group-item">Players</a>
                <a href="#" class="list-group-item">Tournaments</a>
            </li>
        </ul>
    </div>
</div>
