<!doctype html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Riko Ukena">
        <title>Nations Cup 23 Fantasy League</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <link rel="stylesheet" href="{% static "/libs/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "/libs/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/css/select2.min.css" />
        <link rel="stylesheet" href="{% static "/css/app.css" %}">
        <link rel="stylesheet" href="{% static "/css/colors.css" %}">
  	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    </head>
    <body>
    {% include "fantasy_sports/navbar.html" %}
        <div class="container">
            <div class="row">
                <!-- sidebar -->
                <div class="col-xs-12 col-md-3">
                    <div class="panel-group" id="accordion">
                        {% include "nc23/sidebar.html" %}
                    </div>
                </div>
                <!-- /sidebar -->
                <!-- main content -->
                <div class="col-xs-12 col-md-9">
                    {% include "fantasy_sports/messages.html" %}
                    {% block content %}
                    {% endblock content %}
                </div>
                <!-- /main content -->
            </div>
        </div>
    </body>


    <script src="{% static "libs/bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/app.js" %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.7/js/select2.min.js"></script>
    {% block extra_js %}
    {% endblock extra_js %}
</html>    
