<nav class="navbar navbar-default navbar-static-top">
    {% load static %}
    <div class="container">
        <div class="navbar-header">
            <a  href="/"> <img src="{% static 'logo.png' %} " height="50" style="float: left;"></a>
            <a class="navbar-brand" href="/">
                &nbsp;&nbsp; NC23 Fantasy Manager</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Account <i class="fa fa-angle-down fa-fw"></i></a>
                    {% if request.user.is_authenticated %}
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account_management:change_password' %}"><i class="fa fa-wrench fa-fw"></i> Change Password</a></li>
                        <li><a href="{% url 'account_management:logout' %}"><i class="fa fa-sign-out fa-fw"></i> Log out</a></li>
                    </ul>
                    {% else %}
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'account_management:create' %}"><i class="fa fa-plus fa-fw"></i> Create Account</a></li>
                        <li><a href="{% url 'account_management:login' %}"><i class="fa fa-sign-in fa-fw"></i> Log in</a></li>
                        <li><a href="{% url 'account_management:password_reset' %}"><i class="fa fa-wrench fa-fw"></i> Reset Password</a></li>
                    </ul>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>
