{% extends "fantasy_sports/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="text-center">Overview {{ league.name }}</h3>
        </div>

    <div class="panel-body">
              <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
              {% if transfer_tab %}
            <a class="nav-link" data-toggle="tab" href="#team">My Team</a>
        {% else %}
             <a class="nav-link active" data-toggle="tab" href="#team">My Team</a>
         {% endif %}

        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#standings">Standings</a>
        </li>
        <li class="nav-item">
             {% if transfer_tab %}
             <a class="nav-link active" data-toggle="tab" href="#transfer">Transfer Market</a>
        {% else %}
             <a class="nav-link" data-toggle="tab" href="#transfer">Transfer Market</a>
         {% endif %}
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
          {% if transfer_tab %}
            <div class="tab-pane auto fade" id="team">
        {% else %}
            <div class="tab-pane auto active" id="team">
         {% endif %}
            {% include "nc23/display_team.html" %}
            {% block team %}
            {% endblock team %}
        </div>
        <div class="tab-pane auto fade" id="standings">
            {% include "nc23/display_standings.html" %}
            {% block standings %}
            {% endblock standings %}
        </div>
        {% if transfer_tab %}
        <div class="tab-pane auto active " id="transfer">
        {% else %}
        <div class="tab-pane auto fade " id="transfer">
        {% endif %}
            {% include "nc23/display_transfers.html" %}
            {% block transfers %}
            {% endblock transfers %}
        </div>
      </div>

    </div>
         {% if object.administrator == request.user %}
    <div class="panel-footer">

        <p><a href="{% url 'nc23:update_league' object.id %}">League Settings</a></p>

    </div>
              {% endif %}
</div>
{% endblock content %}
