
{% load crispy_forms_tags %}

{% block transfer %}
{% load static %}
    <div   class="panel-body"  style="text-align:center" >
        <h4><b>Budget: {{ manager.budget }} </b>
                        <img src="{% static 'icons/gold.png' %}"
                                  height="25" title="gold">
</h4>
                    {% if transfer_market  %}
               <table  class="table-row">
                   <tr>
                       <th colspan="6" style="text-align:center">
                           <h4><b>Available Players</b></h4>
                       </th>
                   </tr>
               <tr>
                    <th colspan="2" style="text-align:center">Player</th>
                    <th>Points</th>
                    <th>Team (Manager)</th>
                    <th>Price</th>
                   <th></th>
                </tr>
            {% for trm in transfer_market %}
              <tr>{% if trm.player.team.is_alive is False %} <del> {% endif %}
                   {{ trm.player.table_name }}
                     {% if trm.player.team.is_alive is False %} </del> {% endif %}
                <td style="text-align:right">
                   {{ trm.player.get_points|floatformat }}
                </td>
                  <td style="text-align:center      ">
                    {% if trm.manager  is None %}
                        -
                     {% else %}
                        {{trm.manager}}({{trm.manager.user}})
                      {% endif %}
                  </td>
                <td style="text-align:right">
                    {{ trm.price }}<img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
                </td>
                  <td>
                      {%  if trm.manager == manager %}
                       <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="transfer_to_delete" name="transfer_to_delete" value="{{ trm.id }}">
                            <input type="submit" value="Delete" name="transfer_delete">
                        </form>
                      {% endif %}
                  </td>
               </tr>
               {% endfor %}
            </table>

            {% else %}
        <div align="left"> No players are listed for auction. </div>
            {% endif %}

</div>


        {% if my_players %}
        <div class="panel-body">
            <form action="" method="POST" id="create_transfer_form">
                            {% csrf_token %}
                <table align="left" class="table-row">
                    <tr><th colspan="3" style="text-align:center">
                        <h4><b>Put player on the transfer list:</b></h4>
                    </th></tr>
                <tr>
                    <th >Player</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                    <tr>
                  {% for field in  transfer_form.visible_fields %}
                <td>
                    {{ field }}
                </td>
                {% endfor %}
                <td>
                   <input type="submit" value="Add" name="add_transfer">
                </td>
                </tr>
                </table>
            </form></div>
        {% endif %}

        <div class="panel-body">

        {% if offers_out %}

        <table align="left" class="table-row" >
            <tr><th colspan="5" style="text-align:center"><h4><b>Outgoing offers:</b></h4></th></tr>
                <tr>
                    <th colspan="2" >Player</th>
                    <th>Price</th>
                    <th>Manager</th>
                    <th></th>
                </tr>

            {% for ofr in offers_out %}
              <tr>
                   {{ ofr.player.table_name }}
                <td style="text-align:right">
                    {{ ofr.price }}<img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
                </td>
                  <td align="center">
                      {% if offer.reciever is None %}
                      -
                      {% else %}
                        {{ ofr.reciever }}
                      {% endif %}
                  </td>
                  <td>
                          <form action="" method="POST">
                            {% csrf_token %}
                              <input type="hidden" id="offer_to_delete" name="offer_to_delete" value= "{{ ofr.id }}" >
                            <input type="submit" value="Delete" name="offer_delete">
                        </form>
                  </td>
               </tr>
               {% endfor %}

        {% else %}   {% if transfer_market  %}
        <table align="left" class="table-row" >
            <tr><th colspan="5" style="text-align:center"><h4><b>Create offer:</b></h4></th></tr>
             <tr>
                <th colspan="2" >Player</th>
                <th>Price</th>
                <th></th>
                <th></th>
            </tr>
        {% endif %}{% endif %}
            {% if transfer_market %}

             <tr>
                <form method="POST" action="" id="offer_form">{% csrf_token %}
                {% for field in offer_form.visible_fields %}
                     {% if offer_form.visible_fields|first  %}
                        <td colspan="2">
                    {% else %}
                        <td>
                    {% endif %}
                    {{ field }}
                </td>
                {% endfor %}
                <td>
                    <input type="submit" value="Send"  name="offer_button">
                </td>

            </form>
            </tr>
            {% endif %}
            </table>

        </div>

            {% if offers_in  %}
             <div class="panel-body" >
        <table align="left"  class="table-row">
             <tr><th colspan="6" style="text-align:center"><h4><b>Incoming offers:</b></h4></th></tr>
                <tr>
                    <th colspan="2">Player</th>
                    <th>Price</th>
                   <th>Bidder</th>
                    <th></th>
                    <th></th>
                </tr>
            {% for ofr in offers_in %}
              <tr>
                    {{ ofr.player.table_name }}
                <td style="text-align:right">
                     {{ ofr.price }}<img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
                </td>
                <td>
                    {% if ofr.sender is None %}
                      -
                      {% else %}
                        {{ ofr.sender }}
                      {% endif %}
                </td>
                  <td>
                       <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="offer_to_accept" name="offer_to_accept" value="{{ ofr.id }}">
                            <input type="submit" value="Accept" name="offer_accept">
                        </form>
                  </td>
                   <td>
                       <form action="" method="post">
                            {% csrf_token %}
                            <input type="hidden" id="offer_to_decline" name="offer_to_decline" value="{{ ofr.id }}">
                            <input type="submit" value="Decline" name="offer_decline">
                        </form>
                  </td>
               </tr>
               {% endfor %}
            </tr>
            </table>
    </div>
            {% endif %}



        {% if old_transfers  %}

        <div class="panel-body">
              <table align="left" class="table-row">
                  <tr><th colspan="7" style="text-align:center"><h4><b>Transfer History</b></h4></th></tr>
                 <tr>
                    <th colspan="2" style="text-align:center">Player</th>
                    <th>Points</th>
                    <th>Price</th>
                     <th>From</th>
                     <th>To</th>
                     <th>Date</th>
                </tr>
            {% for ofr in old_transfers %}
              <tr>
                   {{ ofr.player.table_name }}
                  <td style="text-align:right">
                   {{ ofr.player.get_points|floatformat }}
                </td>
                <td style="text-align:right">
                    {{ ofr.price }}<img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
                </td>
                <td align="center">
                    {% if ofr.reciever is None %}
                      -
                      {% else %}
                        {{ ofr.reciever }}
                      {% endif %}
                </td>
                <td align="center">
                     {% if ofr.sender is None %}
                      -
                      {% else %}
                        {{ ofr.sender }}
                      {% endif %}
                </td>
                    <td>
                         {{ ofr.end_date }}
                </td>
               </tr>
               {% endfor %}
            </table>

        </div>
{% endif %}

{% endblock transfer %}
