
{% load crispy_forms_tags %}

{% block team %}


<div  class="panel-body">
    {% if not my_players %}
    You have no players in your team yet. Check out the transfer market!
            {% else %}
            <table class="table-row" style="text-align:center">
                <tr>
                    <th colspan="5"><h4 align="center">Line-Up</h4></th>
                </tr><tr>
                    <th>Flank</th>
                    <th>Pocket</th>
                    <th>Pocket</th>
                    <th>Flank</th>
                    <th></th>
                </tr>

               {% if my_lineup %}
                <tr>
                    <td>{% if my_lineup.captain is 1 %} <u> {% endif %}
                        {{ my_lineup.flank1 }}
                    {% if my_lineup.captain is 1 %} </u> {% endif %}</td>
                    <td>{% if my_lineup.captain is 2 %} <u> {% endif %}
                        {{ my_lineup.pocket1 }}
                          {% if my_lineup.captain is 2 %} </u> {% endif %}</td>
                    <td>{% if my_lineup.captain is 3 %} <u> {% endif %}
                        {{ my_lineup.pocket2 }}
                          {% if my_lineup.captain is 3 %} </u> {% endif %}</td>
                    <td>  {% if my_lineup.captain is 4 %} <u> {% endif %}
                    {{ my_lineup.flank2 }}
                      {% if my_lineup.captain is 4 %} </u> {% endif %}</td>
                    <td></td>
                </tr>
              {% endif %}
            {% if is_matchday %}
                 </table>
                You cannot change your lineup when while games are played!
            {% else %}

             <form action="" method="POST" id="set_lineup">
                            {% csrf_token %}

               <tr>
                    <td> {{ lineup_form.flank1 }} </td>
                    <td> {{ lineup_form.pocket1 }} </td>
                    <td> {{ lineup_form.pocket2 }} </td>
                    <td> {{ lineup_form.flank2 }} </td>
                   <td></td>
               </tr>
                 <tr>
                     {% for choice in lineup_form.captain %}
                 <td align="center">
                  <span class="radio" align="center">
                     {% if forloop.last %} &ensp;&ensp;{% endif %}
                      {{ choice.tag }}
                        <div class="tooltip2"> {{ choice.choice_label }}
                            <span class="tooltip-wrapper"><spa  n class="tooltiptext"> Your Captains's performance has a higher impact.</span></span>
                         </div>
                    </span>
                 </td>
                {% endfor %}
             </tr>
                 <tr >
                       <td colspan="5">
                   <input type="submit" value="Change Line-Up" name="lineup_button">
                </td>
                 </tr>

            </form>
                 </table>
                {% endif %}


        </div>

        <div  class="panel-body" >
       <table class="table-row"  style="text-align:center">
           <tr><th colspan="3"><h4 align="center">{{ manager }}'s Roster</h4></th></tr>
        <tr>
            <th colspan="2" align="center">Player</th>
            <th>Points</th>
        </tr>
    {% for plr in my_players %}
      <tr> {% if plr.team.is_alive is False %} <del> {% endif %}
           {{ plr.table_name }}
             {% if plr.team.is_alive is False %} </del> {% endif %}
        <td align="right">
           {{ plr.get_points|floatformat }}
        </td>
       </tr>
       {% endfor %}
    </table>

    {% endif %}
        </div>


{% endblock team %} <!-- if not my_players --->
