
{% extends "fantasy_sports/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

{% load static %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">Transfer Statistics</h3>
    </div>


     {% if not player_data %}
    <div class="panel-body">
        Transfer statistics can be found here after the first round is completed.
    </div>
    {% else %}

    <div class="panel-body">
              <!-- Nav tabs -->
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#players">Players</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#teams"> Teams    </a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
           <div class="tab-pane auto active in" id="players">
                <table class="table-row" style="float: left">
        <tr>
            <th colspan="2" align="center">Name</th>
            <th style="text-align: center"> 	&#x00D8; Price</th>
            <th> Transfers</th>
            <th>Points</th>
            </tr>
        {% for player in player_data %}
          <tr>
           {{ player.0.table_name }}
          <td  style="text-align: center">
           {{ player.1.0|floatformat }}  <img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
        </td>
              <td align="right">
                 {{ player.1.1 }}
              </td>
              <td align="right">
                 {{ player.0.get_points }}
              </td>
       </tr>
       {% endfor %}
    </table>
        </div>

        <div class="tab-pane auto  fade" id="teams">
         <table class="table-row" style="float: left">
        <tr>
            <th></th>
            <th>Team</th>
            <th  style="text-align: center">	&#x00D8; Price</th>
            <th>Players</th>
            </tr>
        {% for team in team_data %}
          <tr>
              <td>{{ team.0.linked_name }}</td>
         <td>
           {{ team.0.long_linked_name }}
        </td>

          <td align="right">
           {{ team.2|floatformat }}  <img src="{% static 'icons/gold.png' %}"
                                  height="18" title="gold">
        </td>
         <td>
              {% for player in team.1 %}
               {% if forloop.last %}
                        {{ player.linked_name }}
                  {% else %}
                        {{ player.linked_name }},
                  {% endif %}
              {% endfor %}
          </td>
       </tr>
       {% endfor %}
    </table>
        </div>
      </div>

    </div>
    {% endif %}
</div>
{% endblock content %}
