{% extends "fantasy_sports/base.html" %}
{% block content %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">Rules and Settings</h3>
    </div>
    <div class="panel-body">
<u><h4>Basics</h4></u>
    <p>You are in the role of a Aoe2 team manager and have to field a team
        for the <a href="https://liquipedia.net/ageofempires/Nations_Cup/2023">Nations Cup 2023</a> Tournament.
    On the transfer market you bet with competing managers
        for the players participating in the tournament.
    You will be awarded points for the performance of your players,
        the manager with the most points in the end will win.
    </p>
<u><h4>Lineup</h4></u>
<p>
    You can field up to four players in your lineup.
    If you field less, you recieve negative points.
    You can field two flanks and two pockets.
    If a player plays in the tournament on the same position as in your lineup
    you will get bonus points.
    Additionally, you can choose a captain.
    The captain's performance has a higher impact on your score.
</p>
<p>
    The lineups for a round are locked at the first day of the round at noon (12:00) GMT,
    which are the following:
<ul>
        <li>02.06. - group phase round 1</li>
        <li>09.06. - group phase round 2</li>
        <li>16.06. - group phase round 3 and quarter finals</li>
        <li>25.06. - semifinals and finals.</li>
    </ul>
</p>
<u><h4>Points</h4></u>
<p>
After each round is completed, the points for each game and
player are computed as follows:
<table>
    <tr>
        <td>Game won</td><td align="right">{{ POINTS_PER_MATCH_WIN|floatformat }}</td>
    </tr>
    <tr>
        <td>Game lost</td><td align="right">{{ POINTS_PER_MATCH_LOSS|floatformat }}</td>
    </tr>
    <tr>
        <td>Highest score of team</td><td align="right">{{ POINT_FOR_MVP|floatformat }}</td>
    </tr>
    <tr>
        <td>Correct position</td><td align="right">{{ POINTS_FOR_POSITION|floatformat }}</td>
    </tr>
    <tr>
        <td>Captain</td><td align="right"> &times;{{ CAPTAIN_FACTOR|floatformat }}</td>
    </tr>
</table>
If a player does not play in any game of that round, he will get 0 points.
You will recieve the sum of all your player's points the were fielded when
the lineup was locked. An empty spot in your lineup will be punished by
{{ POINTS_FOR_EMPTY|floatformat }} points for each round. 
    A completely empty lineup will get 0 points.
</p>

<u><h4>Transfer Market</h4></u>
<p>
    You can acquire new players on the transfer market.
    For players without a manger there will be a minimum price.
    Your offer will be accepted if it is the highest offer that is above the minimum price.
    Offers will be accepted each day at midnight GMT.

    You can also decide to sell your players to other managers,
    then the prices and terms can be decided by you.
</p>

<p>
    If players are out of the tournament,
    their name will be displayed <del>struck through</del>.
    Such a player can still be fielded in a lineup to avoid negative points.
    The price money that his team achieved will be added to your budget,
    so you can find new players that are still in the tournament.
</p>
</div>
    </div>
{% endblock content %}
