{% extends "fantasy_sports/base.html" %}
{% block content %}
{% load static %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">Rules and Settings</h3>
    </div>
    <div class="panel-body">
<u><h4>Basics</h4></u>
    <p>You are in the role of a Aoe2 team manager and have to field a team
        for the <a href="https://liquipedia.net/ageofempires/Nations_Cup/2023">Nations Cup 2023</a> Tournament.
    On the transfer market you bet with competing managers
        for the players participating in the tournament.
    You will be awarded points for the performance of your players,
        the manager with the most points in the end will win.
    </p>
<u><h4>Lineup</h4></u>
<p>
    You can field up to four players in your lineup.
    If you field less, you recieve negative points.
    You can field two flanks and two pockets.
    If a player plays in the tournament on the same position as in your lineup
    you will get bonus points.
    Additionally, you can choose a captain.
    The captain's performance has a higher impact on your score.
</p>
<p>
    The lineups for a round are locked at the first day of the round at noon (12:00) GMT,
    which are the following:
<ul>
        <li>22.02. - group stage</li>
        <li>17.03. - round of 16</li>
        <li>30.03. - quarter finals and lower bracket round 1 &amp; 2</li>
        <li>15.04. - semifinals and lower bracket round 3 &amp; 4</li>
	<li>TBA - winners final and lower bracket round 5</li>
	<li>TBA - losers final and grand final</li> 
    </ul>
</p>
<u><h4>Points</h4></u>
<p>
After each round is completed, the points for each game and
player are computed as follows:
<table>
    <tr>
        <td>Game won</td><td align="right">{{ POINTS_PER_MATCH_WIN|floatformat }}</td>
    </tr>
    <tr>
        <td>Game lost</td><td align="right">{{ POINTS_PER_MATCH_LOSS|floatformat }}</td>
    </tr>
    <tr>
        <td>Correct position</td><td align="right">{{ POINTS_FOR_POSITION|floatformat }}</td>
    </tr>
    <tr>
        <td>Captain</td><td align="right"> &times;{{ CAPTAIN_FACTOR|floatformat }}.</td>
    </tr>
</table>
At the end of each round there will be a <a href="vote">community poll</a> for the best player of the round.
The 1st/2nd/3rd place in that poll recieve {{ POINTS_VOTE.0 }}/{{ POINTS_VOTE.1 }}/{{ POINTS_VOTE.2 }} extra points.
<br />
You will recieve the sum of all your player's points the were fielded when
the lineup was locked. 
<b>An empty spot in your lineup will be punished by
{{ POINTS_FOR_EMPTY|floatformat }} points for each round. </b>
However, a lineup with no players will not change your points at all.
</p>

<u><h4>Transfer Market</h4></u>
<p>
    You can acquire new players on the transfer market for <img src="{% static 'icons/gold.png'%}" height="18"></img>.
    For players without a manager there will be a minimum price.
    Your offer will be accepted if it is the highest offer that is above the minimum price.
    Offers will be accepted each day at midnight GMT.

    You can also decide to sell your players to other managers,
    then the prices and terms can be decided by you.
</p>

<p>
    If players are out of the tournament,
    their name will be displayed <del>struck through</del>.
    Such a player can still be fielded in a lineup to avoid negative points.
    A compensation of 100<img src="{% static 'icons/gold.png'%}" height="18"></img> will be added to your budget,
    so you can bid for new players that are still in the tournament.
</p>

<p><b>
You may find players on the transfer market that have not qualified yet. If they become part of your team but then fail to qualify, they will be removed and you get the  minimum price for the player back.
</b></p>
</div>
    </div>
{% endblock content %}
