{% extends "fantasy_sports/base.html" %}
{% block content %}

{% load static %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="text-center">Welcome!</h3>
    </div>
    <div class="panel-body">
         <h3 class="text-center">Welcome to the Nations Cup Fantasy Manager!</h3>
        <br />
        <p style="font-size:16px;"> Build your team of the best players in the tournament.

        Create an account <a href="{% url 'account_management:create' %}">here</a> or
        read the rules <a href="{% url 'nc23:rules' %}">here</a>. <br />

        If you have not already done so, consider supporting the Nations Cup's prize pool for free <a href="https://matcherino.com/t/nc23">here</a>.
           <br /> For more info, join the Nations Cup <a href="https://discord.gg/CcuMPGrQ">Discord</a>.
        </p>
    <div  class="panel-body">
        <img src="{% static 'banner.png' %}" width=100%>
        </div>
    </div>
                      <div class="panel-footer"><p style="font-size:12px;">
        This site was created under Microsoft's "<a href="https://www.xbox.com/en-US/developers/rules">Game Content Usage Rules</a>" using assets from Age of Empires II: Definitive Edition, and it is not endorsed by or affiliated with Microsoft.
    </div>

</div>

{% endblock content %}
